* {
    box-sizing: border-box;
}

#container {
    width: 640px;
    display: flex; 
    flex-wrap: wrap; 
    margin: 4rem auto;
}

button {
    padding: 12px 16px;
    margin: 1rem auto;
   display: block;
}